<form action='/pirate' method= 'post'>
  <label>Pirate's Name </label>
  <input id="pirate[name]" type="text" name="pirate[name]">
  <label>Pirate's Weight </label>
  <input id="pirate[weight]" type="text" name="pirate[weight]">
  <label>Pirate's Height </label>
  <input id="pirate[height]" type="text" name="pirate[height]">
  <label>Ship's 1 name </label>
  <input id="ship_name_1" type="text" name="pirate[ships][][name]">
  <label>Ship's 1 weight </label>
  <input id="ship_weight_1" type="text" name="pirate[ships][][weight]">
  <label>Ship's 1 height </label>
  <input id="ship_height_1" type="text" name="pirate[ships][][height]">
  <label>Ship's 2 name </label>
  <input id="ship_name_2" type="text" name="pirate[ships][][name]">
  <label>Ship's 2 weight </label>
  <input id="ship_weight_2" type="text" name="pirate[ships][][weight]">
  <label>Ship's 2 height </label>
  <input id="ship_height_2" type="text" name="pirate[ships][][height]">
</form>
