<!DOCTYPE html>
<html>
 <body>
   <form method="POST" action="/pirates">
     <label>Pirate: <input id="pirate_name" type="text" name="pirate[name]" /></label>
     <label>Weight: <input id="pirate_weight" type="text" name="pirate[weight]" /></label>
     <label>Height: <input id="pirate_height" type="text" name="pirate[height]" /></label>
     <label>Ship: <input id="ship_name_1" type="text" name="pirate[ships][][name]" /></label>
     <label>Type: <input id="ship_type_1" type="text" name="pirate[ships][][type]" /></label>
     <label>Booty: <input id="ship_booty_1" type="text" name="pirate[ships][][booty]" /></label>
     <label>Ship: <input id="ship_name_2" type="text" name="pirate[ships][][name]" /></label>
     <label>Type: <input id="ship_type_2" type="text" name="pirate[ships][][type]" /></label>
     <label>Booty: <input id="ship_booty_2" type="text" name="pirate[ships][][booty]" /></label>
     <input type="submit" id="Submit" />
   </form>
 </body>
</html>
